# ###### GENERAL SETTINGS #######
PROJECT_NAME=coursesphere
SERVER_PORT=3000

# ###### DATABASE SETTINGS #######
DATABASE_TYPE=postgresql
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=your_password_here
DATABASE_DB=coursesphere_development

DATABASE_URL=${DATABASE_TYPE}://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DB}

# ###### CORS SETTINGS #######
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# ###### JWT SETTINGS #######
JWT_SECRET_KEY=your_secret_key_here